
body{
	background-color: white;
	color: white;
	font-family: Lucida Sans Unicode, Times New Roman, Arial, Calibri, Candara, Sans-serif;
	font-weight: bold;
	font-size: 18px;
}

header{
	background-color: #99d9ea;
	font-family: Stencil Std, Segoe Print, Times New Roman, Lucida Sans Unicode, Arial Black;
	color: #562858;
	font-size: 36px;
	text-align: center;
	width:45%;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
}

h1{
	background-color: #99d9ea;
	font-family: Stencil Std, Segoe Print, Times New Roman, Lucida Sans Unicode, Arial Black, Serif;
	color: #562858;
	font-size: 36px;
	text-align: center;
	width:45%;
	margin-left:auto;
	margin-right:auto;
}

nav{
	text-align: center;
}

h3{
	background-color: #99d9ea;
	font-family: Stencil Std, Segoe Print, Times New Roman, Lucida Sans Unicode, Arial Black, Serif;
	color: #562858;
	font-size: 28px;
	text-align: center;
	width:40%;
	margin-left:auto;
	margin-right:auto;
}

a{
	font-family: Cooper Std Black, Segoe Print, Segoe Script, Ink Free, MV Boli, Times New Roman, Serif;
	color: #47FFFF;
	text-decoration: none;
	font-size: 26px;
	font-weight: bold;
}

nav a{
	margin-left:10px;
	margin-right:10px;
}

ul{
	margin-left:auto;
	margin-right:auto;
	width:26%;
	text-align: center;
	font-family: Stencil Std, Arial Black, Serif;
}

.favTitle{
	text-align:center;
}

.welcomeInfo{
	text-align:center;
}

.wrapper{
	background-color: #0054A8;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	padding-top:1px;
	padding-bottom:35%;
}